<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.doone.sc.tx.cloud.sasms.monitorCenter.dao.test.TestDb2Dao">
    <select id="getAll" resultType="java.util.Map" >
         select  *  from   omp_role
    </select>


</mapper>
