<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.platform.managecenter.dao.def.wx.WxUserVoMapper" >
  <resultMap id="wxUserMap" type="com.cn.platform.managecenter.entity.wx.WxUserVo" >
      <result property="id" column="id" jdbcType="BIGINT"/>
      <result property="city" column="city" jdbcType="VARCHAR"/>
      <result property="province" column="province" jdbcType="VARCHAR"/>
      <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
      <result property="phone" column="phone" jdbcType="VARCHAR"/>
      <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
      <result property="name" column="name" jdbcType="VARCHAR"/>
      <result property="createTime" column="createTime" jdbcType="DATE"/>
      <result property="remark" column="remark" jdbcType="VARCHAR"/>
  </resultMap>

    <sql id="wxUser_column">
        u.id,u.city,u.province,u.phone,u.nickname,u.`name`,u.pwd,u.createTime,u.remark
    </sql>

    <insert id="addWxUser" parameterType="com.cn.platform.managecenter.entity.wx.WxUserVo" useGeneratedKeys="true" keyProperty="id">
        insert into trip_wx_user(city,province,phone,nickname,`name`,pwd,createTime,remark)
        values (#{city,jdbcType=VARCHAR},#{province,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},
        #{nickname,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR},now(),#{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateWxUser" parameterType="com.cn.platform.managecenter.entity.wx.WxUserVo">
        update trip_wx_user set
        phone = #{phone,jdbcType=BIGINT},
        `name` = #{name,jdbcType=VARCHAR},
        pwd = #{pwd,jdbcType=BIGINT},
        remark = #{remark,jdbcType=VARCHAR},
        where id =  #{id,jdbcType=BIGINT}
    </update>
    <delete id="deleteWxUser">
         delete from trip_wx_user where id = #{id}
    </delete>

    <sql id="qry_where">
        <if test="id != null and id != ''">
           and u.id = #{id}
        </if>
        <if test="phone != null and phone != ''">
            and u.phone = #{phone}
        </if>
        <if test="pwd != null and pwd != ''">
            and u.pwd = #{pwd}
        </if>
        <if test="name != null and name != ''">
            and u.name like concat('%',#{concat},'%')
        </if>
        <if test="nickname != null and nickname != ''">
            and u.name like concat('%',#{nickname},'%')
        </if>
    </sql>
    <select id="qryWxUserListPara" parameterType="map" resultMap="wxUserMap">
        select <include refid="wxUser_column"/>  from trip_wx_user u
        <where>
            <include refid="qry_where"/>
        </where>
        order by u.createTime DESC
        <if test="pageEnd!=null and pageEnd!=''">
            limit #{pageStart},#{pageEnd}
        </if>
    </select>

    <select id="qryWxUserPage" parameterType="map" resultMap="wxUserMap">
        select <include refid="wxUser_column"/>  from trip_wx_user u
        <where>
            <include refid="qry_where"/>
        </where>
        order by u.createTime DESC
        <if test="pageEnd!=null and pageEnd!=''">
            limit #{pageStart},#{pageEnd}
        </if>
    </select>

    <select id="qryWxUserCount" resultType="java.lang.Long">
        select count(1)  from trip_wx_login u
        <where>
            <include refid="qry_where"/>
        </where>
        order by u.createTime DESC
    </select>


</mapper>